.signUp{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
    margin-top: 3rem;
    position: relative;
}
.signUp__image{
    width: 100%;
    animation-name: opacityAnimation;
    animation-duration: 1s;
}
.signUp__image img{
    width: auto;
}
@media(max-width: 80rem) {
    .signUp{
        grid-template-columns: 1fr;

    }
    .signUp__image img{
        width: 0rem;
    }
}
@media(max-width: 60rem) {
    .signUp{
        grid-template-columns: 1fr;
    }
    .signUp__image{
        position: absolute;
        z-index: -1;
    }
    .signUp__image img{
        width: 0rem;
    }
}
@media(max-width: 45rem) {
    .signUp{
        grid-template-columns: 1fr;
    }
    .signUp__image img{
        width: 0rem;
    }
}
@keyframes opacityAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}