.profileForm_area{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3rem;
}

.profileImage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: -8rem;
}

.profileImageInputSelect{
    margin-top: -4rem;
    margin-right: -10rem;
}
.profileImageInputSelect label{
    cursor: pointer;
    transition: .2s ease;
}
.profileImageInputSelect label:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.profileImageIcon {
    width: 20rem;
}

.profileForm{
    background-color: var(--color-card);
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80rem;
    margin-bottom: 10rem;
}
.profileDobleInput{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.profileInput{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.profileInput input, select, option, textarea{
    background-color: var(--color-input);
    border: none;
    padding: 1.5rem;
    outline: none;
    color: var(--color-text);
}
.profileInput input::placeholder{
    color: rgba(255, 255, 255, 0.4);
}
.profileInput select{
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
}
.profileInput textarea{
    padding: 1.5rem;
    border-radius: 1rem;
    height: 10rem;
    resize: none;
}

.formActions{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formActions button{
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    transition: .2s ease;
    border: none;
    font-size: 2rem;
    color: var(--color-text);
}
.formActionCancel{
    background-color: var(--color-error);
}
.formActionAcept{
    background-color: var(--color-main);
}
.formActionCancel:hover{
    box-shadow: var(--shadow-bad);
}
.formActionAcept:hover{
    box-shadow: var(--shadow);
}