.formProfile {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.formProfile h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.formProfile span {
    color: var(--color-main);
}
